body {
  color: #ffd200;
  background-color: "#00444b";
  color: #f5f5f5;
  color: #9cd5ff;
  color: #35b4de;
  color: #0e0e0e;
  color: #202020;
  color: #a2cf51;
  color: #fe9901;
  color: #b53b81;
  color: #ded300;
  color: #b50032;
  color: #ff8d22;
  color: #ffba00;
  color: #ff8a8a;
  color: #ff01ff;
  color: #22d0b1;
  color: #7efe33;
  color: #9dca82;

  color: #009881;
  color: #56ed68;
  color: #ff35a2;
  color: #fff7f0;
  color: #eb5691;
  color: #090e10;
  color: #e7ce82;
  color: #fdfdfd;
  color: #394e60;
  color: #5c6d7b;
  color: #e73766;
  color: #ff8803;
  color: #3d1616;
  color: #ffa3b2;
  color: #ff5733;
  color: #ed066f;
  color: #b60555;
  color: #73288d;
  color: #69b2c8;
  color: #c0687e;
  color: #fe562e;
  color: #ffbf39;
  color: #3b28ad;
  color: #e70000;
  color: #f10090;
  color: #ea0015;
  color: #ff0000;
  color: #de7500;

  color: #319197;
  color: #5b6174;
  color: #8e2649;
  color: #b9102a;
  color: #c62427;
  color: #e04a21;
  color: #ca63e6;
  color: #e397f8;

  color: #e59c5a;
  color: #f08ea0;
  color: #a3b9e6;
  color: #64dbba;
}
